include mixins.pug
doctype html
html#skrollr-body._inner_page._bordo_page(lang='ru')
  +dev_head('bordo page')

  body
    +header()
    +menu_holder()
    .wrapper
      .base
        div.main_content
          #bordo_section.section._bordo.logoTrigger
            .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=80)
              a.logo(href='index.html')
                .logo_slide
                  img._bordo(src='i/logo_bordo_w.png' width=174)
            .section_inner
              .bodro_hero
                .section_bg._bordo
                  - var i=0, rotation = 360;
                    while i < 24
                      - i++;
                      - k = 1;
                      .bg_glass(_style='transform: rotate(' + (45 * k * (i % 8)) + 'deg);' data-index= i + (k - 1) * 40
                      data-50p-center-top='transform: rotate(' + (45 * k * (i % 8)) + 'deg);'
                      data--50p-center-top='transform: rotate(' + (rotation + (45 * k * (i % 8))) + 'deg);')
                      - k = 2;
                      .bg_glass(_style='transform: rotate(' + (45 * k * (i % 8)) + 'deg);' data-index= i + (k - 1) * 40
                      data-50p-center-top='transform: rotate(' + (45 * k * (i % 8)) + 'deg);'
                      data--50p-center-top='transform: rotate(' + (rotation + (45 * k * (i % 8))) + 'deg);')
                      - k = 3;
                      .bg_glass(_style='transform: rotate(' + (45 * k * (i % 8)) + 'deg);' data-index= i + (k - 1) * 40
                      data-50p-center-top='transform: rotate(' + (45 * k * (i % 8)) + 'deg);'
                      data--50p-center-top='transform: rotate(' + (rotation + (45 * k * (i % 8))) + 'deg);')
                      - k = 4;
                      .bg_glass(_style='transform: rotate(' + (45 * k * (i % 8)) + 'deg);' data-index= i + (k - 1) * 40
                      data-50p-center-top='transform: rotate(' + (45 * k * (i % 8)) + 'deg);'
                      data--50p-center-top='transform: rotate(' + (rotation + (45 * k * (i % 8))) + 'deg);')

                .bodro_hero_msg._bordo(
                data-200-center-top='transform: scale(.01); opacity: 1;'
                data-100-center-top='transform: scale(1); opacity: 1;'
                )
                  .bodro_hero_corner
                  .bodro_hero_text 
                    .bodro_hero_title IN BORDO VERITAS!
                    p 
                      span Здесь, в BODRO, мы находим необычное в самых обычных вещах, делаем то, что до этого считалось невозможным, экспериментируем с креативом и дизайном, создаём тренды, 
                      span.mob_hidden <br> 
                      span  а не следуем им. 

                .hero_w(
                data-850-center-top='transform: translate(0, 100%);transform-origin: 50% 0% 0;'
                data-750-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                data-150-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                )
                  img(src='i/bordo_hero.png')

            .section_footer
              .section_inner
                .footer_slider._bordo
                  .text_line.lineSlider3
                    +loop_while(5)
                      .line_slide: span НЕ ТАМ, МОЛОДОЙ САМУРАЙ, ИЩЕШЬ ТЫ РАДОСТЕЙ В ЖИЗНИ. ДОРОГА ТЕБЕ - В BODRO!
                      .line_slide: span САМЫЙ ЦЕННЫЙ РЕСУРС - ВРЕМЯ!
                      .line_slide: span ДЬЯВОЛ КРОЕТСЯ В ДЕТАЛЯХ!
                      
            .section_inner
              .bordo_counter_holder
                p До пятницы осталось
                #getting-started.bordo_counter
                  
              .project_holder._bordo_projects
                .bordo_glass._left.mob_hidden(
                data-45p-center-top='left: 50%;'
                data--30p-center-top='left: -20%;'
                )
                .bordo_glass._right.mob_hidden(
                data-45p-center-top='left: 50%;'
                data--30p-center-top='left: 120%;'
                )
                .project_col._left
                  .project_col_head
                    .section_title(
                    data-350-center-top='transform: translate(0, 100%); opacity: 0;'
                    data-200-center-top='transform: translate(0, 0%); opacity: 1;'
                    )
                      span(data-title='Бордо - али-портфолио') Бордо - али-портфолио

                    .text_center
                      p Дизайн хороший ярко смотреть до конца радоваться, платить разумно

                  .project_block.animated
                    img(src='i/project_4.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ

                .project_col._right
                  .project_block.animated
                    img(src='i/project_2.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ

                  .more_projects
                    a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ')
                      span СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ
                      
            .section_inner
              .idea_slider
                .ideaSlider.slider_inner
                  +loop_while(3)
                    .slide
                      .slide_img
                        img(src='i/slide_1.jpg')
                      .slide_text
                        p
                          span Есть идеи, что ещё должно быть на нашем сайте?!
                          span.dt_only <br>
                          span  Присылай на 
                          a.slide_link(href='#') ideas@bodro.agency!
                          span <br>На кону 2 заряженных на успех футболки!

                .idea_controls
                  #idea_prev.idea_control._prev.mob_hidden
                  #idea_next.idea_control._next.mob_hidden

                  #idea_pager.idea_pager

            .section_inner
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Блог') Блог
                
              .dobro_preview_text.mob_only
                p Производишь крутой товар или оказываешь уникальную услугу? Точно-точно!? Тогда давай дружить компаниями! Приходи к нам в гости или пригласи нас к себе, пообщаемся, расскажем о твоей компании в нашем блоге и обязательно найдём варианты взаимовыгодного сотрудничества!

              ul.blog_list
                li
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога
                    
                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ
                    
                li
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога<br>в две строки
                    
                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ
                    
                li.dt_only
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога
                    
                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ
                      
              .blog_footer
                a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ДРУГИЕ СТАТЬИ')
                  span СМОТРЕТЬ ДРУГИЕ СТАТЬИ
                      
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Отзывы') Отзывы

              .review_slider
                .reviewSlider
                  +loop_while(3)
                    .slide
                      .review_slide
                        .review_img
                          img(src='i/avatar_1.png')
                        .review_text Аванса не будет, но вы макеты присылайте!
                        .review_author Дмитрий

                    .slide
                      .review_slide
                        .review_img
                          img(src='i/avatar_2.png')
                        .review_text Остался недоволен! Сделали все слишком быстро и слишком качественно! Ваши конкуренты работают намного медленнее…
                        .review_author Ждун

                    .slide
                      .review_slide
                        .review_img
                          img(src='i/avatar_3.png')
                        .review_text Давайте не будем усукаблять ситуацию. Организуйте мне кастинг на должность повара и чтоб чики все были не ниже 180см!
                        .review_author Эрик Картман

                .review_controls
                  #review_prev.review_control._prev
                  #review_next.review_control._next

            .section._shelve
              .section_inner
                .bordo_glass._left.mob_hidden(
                data-45p-center-top='left: 50%;'
                data--30p-center-top='left: -20%;'
                )
                .bordo_glass._right.mob_hidden(
                data-45p-center-top='left: 50%;'
                data--30p-center-top='left: 120%;'
                )
                  
                .section_title(
                data-450-center-top='transform: translate(0, 100%); opacity: 0;'
                data-300-center-top='transform: translate(0, 0%); opacity: 1;'
                )
                  span(data-title='Книжная полка') Книжная полка
                  
                .book_shelves: .bookSlider
                  +loop_while(10)
                    .book_unit.slide
                      .book_wrapper: .book_item
                        .book_info: .gl_table: .gl_table_cell
                          .book_name Название книги, композиции или презентации 
                          p
                            a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='СКАЧАТЬ')
                              span СКАЧАТЬ
                              
                .book_controls.wide_hidden
                  #book_prev.book_control._prev
                  #book_next.book_control._next

            .section_inner
              .section_title(
              data-450-center-top='transform: translate(0, 100%); opacity: 0;'
              data-300-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Что-нибудь замутим?') Что-нибудь замутим?
                
              .text_center.subscribe_block
                a.btn_v1.contact_btn.btn_white.fz_13.callbackBtn(data-text='СВЯЗАТЬСЯ' href='#')
                  span СВЯЗАТЬСЯ
                
            .footer
              .section_inner.clearfix
                .footer_logo_holder.mob_hidden
                  a.footer_logo
                    img(src='i/bdb_w.png' width=124)
                  
                .copyright: span © Copyright «BDB Group», 2017
                .dev_block
                  span Сайт сделан:&nbsp;
                  span 
                    img(src='i/friend_5.png' width=58)
                    
    +popups(true)

    +scripts()
    
