include mixins.pug
doctype html
html#skrollr-body._inner_page._dobro_page(lang='ru')
  +dev_head('dobro page')

  body
    +header()
    +menu_holder()
    .wrapper
      .base
        div.main_content
          #dobro_section.section._dobro.logoTrigger
            .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=80)
              a.logo(href='index.html')
                .logo_slide.sectionLogo(data-target='dobro_section')
                  img(src='i/logo_dobro.png' width=174)
            .section_inner
              .bodro_hero
                .section_bg._dobro(
                data-30p-center-top='opacity: 0;'
                data-10p-center-top='opacity: .5;'
                )
                .bodro_hero_msg._dobro(
                data-200-center-top='transform: scale(.01); opacity: 1;'
                data-100-center-top='transform: scale(1); opacity: 1;'
                )
                  .bodro_hero_corner
                  .bodro_hero_text
                    .bodro_hero_title DOBRO пожаловать!
                    p Мы искренне верим в то, что доброта спасёт мир. Let`s go словом и делом менять окружающий мир в лучшую сторону. Если у тебя есть благотворительный фонд, товар, услуга или ты просто добрый и идейный человек, то скорее напиши сюда – dobroman@bodro.agency

                .hero_w(
                data-850-center-top='transform: translate(0, 100%);transform-origin: 50% 0% 0;'
                data-750-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                data-150-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                )
                  img(src='i/dobroman_web.png')
                  
              .dobro_preview._bodro
                .section_info_block
                  .info_caption(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  ) 
                    span Заголовок 
                    span.dt_only <br>
                    span.mob_only <br>
                    span  к видео в 2 строки
                  p(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  ) Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                  p.dobro_preview_more(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  ): a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ')
                    span СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ
                    
                .video_block(
                data-40p-center-top='transform: translate(100%, 0); opacity: 0;'
                data-10p-center-top='transform: translate(0, 0%); opacity: 1;'
                )
                  .video_w
                  .video_btn
                    
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Блог') Блог
                
              ul.blog_list
                li
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога
                    
                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ
                    
                li
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога<br>в две строки
                    
                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ
                    
                li.dt_only
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога
                    
                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ
                      
              .blog_footer
                a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ДРУГИЕ СТАТЬИ')
                  span СМОТРЕТЬ ДРУГИЕ СТАТЬИ
                      
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Добрые партнёры') Добрые партнёры
                
              .partner_block
                .partners_clouds
                  .cloud._c_1(
                  data-100p-center-top='transform: translate(50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(-20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_1.png')
                  .cloud._c_2(
                  data-100p-center-top='transform: translate(50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(-20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_2.png')
                  .cloud._c_3(
                  data-100p-center-top='transform: translate(-50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_3.png')
                  .cloud._c_4(
                  data-100p-center-top='transform: translate(-50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_4.png')
                    
                .partner_list: .partnerSlider
                  +loop_while(10)
                    .slide: a.partner_link(href='#')
                      img(src='i/partner_1.png')
                      
          #contact_section.logoTrigger.section._contacts
            .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=80)
              a.logo(href='index.html')
                .logo_slide.sectionLogo(data-target='contact_section')
                  img.img_hover(src='i/bdb_a.png' width=144)
                  img(src='i/bdb_w.png' width=144)
            .section_inner
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Айда к нам!') Айда к нам!
                
              .contacts_form
                p.text_center(
                data-50p-center-top='transform: translate(0, 100%); opacity: 0; line-height: 2;'
                data-25p-center-top='transform: translate(0, 0%); opacity: 1; line-height: 1.2;'
                ) Ты энергичен/энергична, талантлив/талантлива и полон/полна смелых идей?!<br> Тогда заполняй бодрее форму, возможно, ты тот/та самый/самая кого мы ищем!
                
                form(action='#')
                  .form_row
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Как тебя зовут')
                  .form_row
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Твоя сфера деятельности')
                    
                  .form_row._half
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Твой номер телефона')
                    
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Твой e-mail')
                    
                  .form_row
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      textarea.f_input_v1.f_input(placeholder='Несколько слов о себе')
                    
                  .form_row._half
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      .f_input_v1.f_input.text_center
                        img(src='i/captcha_j.png')

                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Введите текст с картинки')
                      
                  .form_row.text_center
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      button.btn_v1.contact_btn.btn_white(data-text='ОТПРАВИТЬ')
                        span ОТПРАВИТЬ
                        
                  .form_row
                    .agreement_holder(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      label.check_v1
                        input.inp_hidden(type='checkbox')
                        span.check_text Я даю согласие на обработку своих персональных данных.
                        
                      p В соответсвии со статьей 9 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных»
              
              .insta_container
                .insta_holder
                  .instaSlider.insta_list
                    +loop_while(15)
                      .slide: a.insta_link(href='#')
                .insta_controls
                  #insta_prev.insta_control._prev
                  #insta_next.insta_control._next
                  .insta_url @bodro.agency
                  .insta_tag #bdbgroup
                  
            .section_inner
              .section_title(
              data-450-center-top='transform: translate(0, 100%); opacity: 0;'
              data-300-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Друзья и партнеры') Друзья и партнеры

              .friend_list
                .friendSlider
                  +loop_while(2)
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_1.png')
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_2.png')
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_3.png')
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_4.png')
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_5.png')
                      
                .friend_controls
                  #friend_prev.friend_control._prev
                  #friend_next.friend_control._next
                    
              .section_title(
              data-450-center-top='transform: translate(0, 100%); opacity: 0;'
              data-300-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Что-нибудь замутим?') Что-нибудь замутим?
                
              .text_center.subscribe_block
                a.btn_v1.contact_btn.btn_white.fz_13.callbackBtn(data-text='СВЯЗАТЬСЯ' href='#')
                  span СВЯЗАТЬСЯ
                
            .footer
              .section_inner.clearfix
                .footer_logo_holder.mob_hidden
                  a.footer_logo
                    img(src='i/bdb_w.png' width=124)
                  
                .copyright © Copyright «BDB Group», 2017
                .dev_block
                  span Сайт сделан:&nbsp;
                  span 
                    img(src='i/friend_5.png' width=58)
                    
    +popups()

    +scripts()
    
