include mixins.pug
doctype html
html#skrollr-body._inner_page._dobro_page(lang='ru')
  +dev_head('dobro page')

  body(data-shadow='dobro')
    +header()
    +menu_holder()
    .wrapper
      .base
        div.main_content
          #dobro_section.section._dobro.logoTrigger
            .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=80 data-shadow='dobro')
              a.logo(href='index.html')
                .logo_slide
                  img._dobro(src='i/logo_dobro.png' width=174)
            .section_inner
              .bodro_hero
                .section_bg._dobro(
                data-30p-center-top='opacity: 0;'
                data-10p-center-top='opacity: .5;'
                )
                .bodro_hero_msg._dobro(
                data-200-center-top='transform: scale(.01); opacity: 1;'
                data-100-center-top='transform: scale(1); opacity: 1;'
                )
                  .bodro_hero_corner
                  .bodro_hero_text
                    .bodro_hero_title DOBRO пожаловать!
                    p
                      span Мы искренне верим в то, что доброта спасёт мир. Let`s go словом и делом менять окружающий мир в лучшую сторону. Если у тебя есть благотворительный фонд, товар, услуга или ты просто добрый и идейный человек, то скорее напиши сюда –
                      a.hero_link(href='#') dobroman@bodro.agency

                .hero_w(
                data-850-center-top='transform: translate(0, 100%);transform-origin: 50% 0% 0;'
                data-750-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                data-150-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                )
                  img(src='i/dobroman_web.png')

              .dobro_preview._bodro._no_more
                .section_info_block
                  .info_caption(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  )
                    span Заголовок
                    span.dt_only <br>
                    span.mob_only <br>
                    span  к видео в 2 строки
                  p(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  ) Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!

                .video_block(
                data-40p-center-top='transform: translate(100%, 0); opacity: 0;'
                data-10p-center-top='transform: translate(0, 0%); opacity: 1;'
                )
                  .video_w
                  //-.video_btn.playVideo

            .section_inner
              .project_holder._dobro_projects
                .project_col._left
                  .project_col_head
                    .section_title(
                    data-350-center-top='transform: translate(0, 100%); opacity: 0;'
                    data-200-center-top='transform: translate(0, 0%); opacity: 1;'
                    )
                      span(data-title='Проекты') Проекты

                    .text_center(
                    data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                    data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                    )
                      p Мы любим то, что делаем и гордимся своими проектами!

                  .project_block
                    img(src='i/project_3.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ

                .project_col._right
                  .project_block
                    img(src='i/project_2.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ

                  .more_projects
                    a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='ЗАГРУЗИТЬ ЕЩЕ ПРОЕКТЫ')
                      span ЗАГРУЗИТЬ ЕЩЕ ПРОЕКТЫ

            .section_inner
              .idea_slider
                .ideaSlider.slider_inner
                  +loop_while(3)
                    .slide
                      .slide_img
                        img(src='i/slide_1.jpg')
                      .slide_text
                        p
                          span Есть идеи, что ещё должно быть на нашем сайте?!
                          span.dt_only <br>
                          span  Присылай на
                          a.slide_link(href='#') ideas@bodro.agency!
                          span <br>На кону 2 заряженных на успех футболки!

                .idea_controls
                  #idea_prev.idea_control._prev.mob_hidden
                  #idea_next.idea_control._next.mob_hidden

                  #idea_pager.idea_pager

            .section_inner
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Блог') Блог

              .dobro_preview_text.mob_only
                p Производишь крутой товар или оказываешь уникальную услугу? Точно-точно!? Тогда давай дружить компаниями! Приходи к нам в гости или пригласи нас к себе, пообщаемся, расскажем о твоей компании в нашем блоге и обязательно найдём варианты взаимовыгодного сотрудничества!

              ul.blog_list
                li
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога

                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ

                li
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога<br>в две строки

                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ

                li.dt_only
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога

                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ

              .blog_footer
                a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ДРУГИЕ СТАТЬИ')
                  span СМОТРЕТЬ ДРУГИЕ СТАТЬИ

              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Добрые партнёры') Добрые партнёры

              .partner_block._mod_1
                .partners_clouds
                  .cloud._c_1(
                  data-100p-center-top='transform: translate(50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(-20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_1.png')
                  .cloud._c_2(
                  data-100p-center-top='transform: translate(50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(-20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_2.png')
                  .cloud._c_3(
                  data-100p-center-top='transform: translate(-50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_3.png')
                  .cloud._c_4(
                  data-100p-center-top='transform: translate(-50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_4.png')

                .partner_list: .partnerSlider
                  +loop_while(10)
                    .slide: a.partner_link(href='#')
                      img(src='i/partner_1.png')

            .section_inner
              .section_title(
              data-450-center-top='transform: translate(0, 100%); opacity: 0;'
              data-300-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Что-нибудь замутим?') Что-нибудь замутим?

              .text_center.subscribe_block
                a.btn_v1.contact_btn.btn_white.fz_13.callbackBtn(data-text='СВЯЗАТЬСЯ' href='#')
                  span СВЯЗАТЬСЯ

            .footer
              .section_inner.clearfix
                .footer_logo_holder.mob_hidden
                  a.footer_logo
                    img(src='i/bdb_w.png' width=124)

                .copyright: span © Copyright «BDB Group», 2017
                .dev_block
                  span Сайт сделан:&nbsp;
                  span
                    img(src='i/friend_5.png' width=58)

    +popups(true)

    +scripts()

