include mixins.pug
doctype html
html#skrollr-body._home(lang='ru')
  +dev_head('bodro главная', true)

  body
    +header()
    +menu_holder()
    .hero_wrapper.winHmin
      .header_logo_holder
        .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=78)
          a.logo(href='index.html')
            .logo_slide.firstLogo(data-target='hero_section')
              img._bodro.img_hover(src='i/bdb_a.png' width=144)
              img._bodro(src='i/bdb_w.png' width=144)
      .hero_block.winH
        .hero_slider.heroSlider
          +loop_while(3)
            .slide
              .gl_table
                .gl_table_cell
                  .section_inner.winW
                    .hero_caption 
                      span Креативное
                      //-span.mob_only <br> 
                      span  агентство<br>№1 во 
                      //-span.mob_only <br> 
                      span  Вселенной*
                    p *по данным межгалактического креативного союза
        
        .hero_pager
          #hero_pager.section_inner

        .hero_controls
          .section_inner
            #hero_prev.hero_control._prev
            #hero_next.hero_control._next
          
        .hero_footer
          .section_inner
            .text_line.lineSlider
              +loop_while(5)
                .line_slide: span БУДЬ БОДР, ДЕЛАЙ ДОБРО, ПЕЙ БОРДО!
                .line_slide: span БОДРО ПЬЁМ БОРДО, ДЕЛАЕМ ДОБРО!
                .line_slide: span РАБОТАЕМ БОДРО, ТВОРИМ ДОБРО, ЛЮБИМ БОРДО!
            
    .wrapper
      .base
        div.main_content
          #bodro_section.section._bodro.logoTrigger
            .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=80)
              a.logo(href='index.html')
                .logo_slide
                  img._bodro(src='i/logo_bodro.png' width=174)
            .section_inner
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Welcome to BODRO agency!') Welcome to BODRO agency!
              
              .bodro_hero
                .bodro_hero_msg(
                data-200-center-top='transform: scale(.01); opacity: 1;'
                data-100-center-top='transform: scale(1); opacity: 1;'
                )
                  .bodro_hero_corner
                  .bodro_hero_text Привет! Меня зовут Бодромен и я возглавляю BDB GROUP!<br>Если тебе нужны смелые и нестандартные решения для увеличения продаж в короткие сроки, то ты по адресу. Наши компетенции в области маркетинга, рекламных технологий, дизайна, психологии и управления проектами позволяют находить оптимальные решения даже в условиях ограниченного бюджета и времени.
                    
                .hero_w(
                data-850-center-top='transform: translate(0, 100%);transform-origin: 50% 0% 0;'
                data-750-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                data-150-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                )
                  img(src='i/bodroman_web.png')
                
              .video_block
                .video_w
                  <iframe id="video_1" class="playOnScroll" width="560" height="315" src="https://www.youtube.com/embed/eKXjnhpKEMw?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                .video_btn.playVideo
                  
            .projectors_holder
              .projector_left
                .projector._proj_1
                .projector._proj_2
              .projector_right
                .projector._proj_1
                .projector._proj_2
                  
            .section_inner
              .project_holder
                .project_col._left
                  .project_col_head
                    .section_title(
                    data-350-center-top='transform: translate(0, 100%); opacity: 0;'
                    data-200-center-top='transform: translate(0, 0%); opacity: 1;'
                    )
                      span(data-title='Проекты') Проекты
                      
                    .text_center(
                    data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                    data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                    )
                      p Мы любим то, что делаем и гордимся своими проектами!
                  
                  .project_block
                    img(src='i/project_4.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ
                  
                  .project_block
                    img(src='i/project_3.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ
    
                .project_col._right
                  .project_block
                    img(src='i/project_1.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ
    
                  .project_block
                    img(src='i/project_2.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ
                
                  .more_projects
                    a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ')
                      span СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ

            .section_inner
              .idea_slider
                .idea_slider_splash
                .ideaSlider.slider_inner
                  +loop_while(3)
                    .slide
                      .slide_img
                        img(src='i/slide_1.jpg')
                      .slide_text
                        p 
                          span Есть идеи, что ещё должно быть на нашем сайте?!
                          span.dt_only <br>
                          span  Присылай на 
                          a.slide_link(href='#') ideas@bodro.agency!
                          span <br>На кону 2 заряженных на успех футболки!
              
                .idea_controls
                  #idea_prev.idea_control._prev.mob_hidden
                  #idea_next.idea_control._next.mob_hidden
                    
                  #idea_pager.idea_pager
                  
            .section_footer
              .section_inner
                .footer_slider
                  .text_line.lineSlider2
                    +loop_while(5)
                      .line_slide: span ЛЮБИ ТО, ЧТО ТЫ ДЕЛАЕШЬ!
                      .line_slide: span САМЫЙ ЦЕННЫЙ РЕСУРС - ВРЕМЯ!
                      .line_slide: span ДЬЯВОЛ КРОЕТСЯ В ДЕТАЛЯХ!
                      
            .section_inner
              .exercises_block
                .boardGrid
                  .exercise_item.gridItem
                    .exercise_box
                      +exercise_info()
                      
                  .exercise_item.gridItem._x2
                    .exercise_box
                      +exercise_info()
                
                  .exercise_item.gridItem
                    .exercise_box
                      +exercise_info()
                
                  .exercise_item.gridItem
                    .exercise_box
                      +exercise_info()
                
                  .exercise_item.gridItem.mob_hidden
                    .exercise_box
                      +exercise_info()
                
                  .exercise_item.gridItem.dt_only
                    .exercise_box
                      +exercise_info()
                
                  .exercise_item.gridItem.dt_only
                    .exercise_box
                      +exercise_info()
                      
              .more_exercises
                a.fz_13.btn_v1.btn_white.project_btn(href='jerks.html' data-text='СМОТРЕТЬ ЕЩЕ BDB ЗАРЯДКУ')
                  span СМОТРЕТЬ ЕЩЕ BDB ЗАРЯДКУ
                    
          #dobro_section.section._dobro.logoTrigger
            .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=80)
              a.logo(href='index.html')
                .logo_slide
                  img._dobro(src='i/logo_dobro.png' width=174)
            .section_inner
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Агентство добрых дел') Агентство добрых дел
                
              .bodro_hero
                .section_bg._dobro(
                data-30p-center-top='opacity: 0;'
                data-10p-center-top='opacity: .5;'
                )
                .bodro_hero_msg._dobro(
                data-200-center-top='transform: scale(.01); opacity: 1;'
                data-100-center-top='transform: scale(1); opacity: 1;'
                )
                  .bodro_hero_corner
                  .bodro_hero_text Привет! Меня зовут Добромен и я творю добро вместе с BDB GROUP!<br>Делать добрые дела - это легко и круто. Если у тебя есть благотворительный фонд, товар, услуга или ты просто добрый и идейный человек, готовый вместе с нами менять окружающий мир в лучшую сторону, то смело пиши мне на dobroman@bodro.agency и мы приступим.

                .hero_w(
                data-850-center-top='transform: translate(0, 100%);transform-origin: 50% 0% 0;'
                data-750-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                data-150-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                )
                  img(src='i/dobroman_web.png')
                  
              .dobro_preview._bodro
                .section_info_block
                  .info_caption(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  ) 
                    span Заголовок 
                    span.dt_only <br>
                    span.mob_only <br>
                    span  к видео в 2 строки
                  p(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  ) Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                  p.dobro_preview_more(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  ): a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ')
                    span СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ
                    
                .video_block(
                data-40p-center-top='transform: translate(100%, 0); opacity: 0;'
                data-10p-center-top='transform: translate(0, 0%); opacity: 1;'
                )
                  .video_w
                  .video_btn.playVideo
                    
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Блог') Блог
                
              ul.blog_list
                li
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога
                    
                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ
                    
                li
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога<br>в две строки
                    
                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ
                    
                li.dt_only
                  .blog_item
                    .blog_img
                    .info_caption Заголовок статьи из блога
                    
                    p Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
                    p.mob_tc: a.fz_13.btn_v2.btn_white.blog_btn(href='#' data-text='ПОДРОБНЕЕ')
                      span ПОДРОБНЕЕ
                      
              .blog_footer
                a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ДРУГИЕ СТАТЬИ')
                  span СМОТРЕТЬ ДРУГИЕ СТАТЬИ
                      
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Добрые партнёры') Добрые партнёры
                
              .partner_block
                .partners_clouds
                  .cloud._c_1(
                  data-100p-center-top='transform: translate(50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(-20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_1.png')
                  .cloud._c_2(
                  data-100p-center-top='transform: translate(50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(-20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_2.png')
                  .cloud._c_3(
                  data-100p-center-top='transform: translate(-50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_3.png')
                  .cloud._c_4(
                  data-100p-center-top='transform: translate(-50%, 0); opacity: 0;'
                  data--100p-center-top='transform: translate(20%, 0%); opacity: 1;'
                  )
                    img(src='i/cloud_4.png')
                    
                .partner_list: .partnerSlider
                  +loop_while(10)
                    .slide: a.partner_link(href='#')
                      img(src='i/partner_1.png')
                  
          #bordo_section.section._bordo.logoTrigger
            .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=80)
              a.logo(href='index.html')
                .logo_slide
                  img._bordo(src='i/logo_bordo_w.png' width=174)
            .section_inner
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='IN BORDO VERITAS!') IN BORDO VERITAS!
              
              .bodro_hero
                .section_bg._bordo
                  - var i=0, rotation = 360;
                    while i < 24
                      - i++;
                      - k = 1;
                      .bg_glass(class='bg_glass_1' _style='transform: rotate(' + (45 * k * (i % 8)) + 'deg);' data-index= i + (k-1) * 40)
                      - k = 2;
                      .bg_glass(class='bg_glass_2' _style='transform: rotate(' + (45 * k * (i % 8)) + 'deg);' data-index= i + (k-1) * 40)
                      - k = 3;
                      .bg_glass(class='bg_glass_3' _style='transform: rotate(' + (45 * k * (i % 8)) + 'deg);' data-index= i + (k-1) * 40)
                      - k = 4;
                      .bg_glass(class='bg_glass_4' _style='transform: rotate(' + (45 * k * (i % 8)) + 'deg);' data-index= i + (k-1) * 40)
                    
                .bodro_hero_msg._bordo(
                data-200-center-top='transform: scale(.01); opacity: 1;'
                data-100-center-top='transform: scale(1); opacity: 1;'
                )
                  .bodro_hero_corner
                  .bodro_hero_text Привет! Меня зовут Человек Бордо и в BDB GROUP я отвечаю за полные бокалы креатива!<br>Вместе с Бодроменом и Доброменом мы создали несколько десятков успешных кейсов, поднявших бизнес клиентов на новую высоту. Кстати, пока ты читаешь этот текст, я уже готовлю для твоего бизнеса офигенный коктейль из сочных идей,  опьяняющего успеха, масштабных мероприятий и слёз твоих конкурентов. Хочешь его попробовать?<br>Пиши, звони, приходи – я всегда рад новым знакомствам!

                .hero_w(
                data-850-center-top='transform: translate(0, 100%);transform-origin: 50% 0% 0;'
                data-750-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                data-150-center-top='transform: translate(0, 0%);transform-origin: 50% 0% 0;'
                )
                  img(src='i/bordo_hero.png')
                  
            .section_footer
              .section_inner
                .footer_slider._bordo
                  .text_line.lineSlider3
                    +loop_while(5)
                      .line_slide: span НЕ ТАМ, МОЛОДОЙ САМУРАЙ, ИЩЕШЬ ТЫ РАДОСТЕЙ В ЖИЗНИ. ДОРОГА ТЕБЕ - В BODRO!
                      .line_slide: span САМЫЙ ЦЕННЫЙ РЕСУРС - ВРЕМЯ!
                      .line_slide: span ДЬЯВОЛ КРОЕТСЯ В ДЕТАЛЯХ!
                      
            .section_inner
              .bordo_counter_holder
                p До пятницы осталось
                #getting-started.bordo_counter
                    
              .dobro_preview._bordo
                .section_info_block
                  .info_caption(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  )
                    span Заголовок 
                    span.dt_only <br>
                    span  к видео
                    span.mob_only <br>
                    span  в 2 строки
                  p(
                  data-40p-center-top='transform: translate(0, 100%); opacity: 0;'
                  data-20p-center-top='transform: translate(0, 0%); opacity: 1;'
                  ) Дело было предновогодним вечером, делать было много чего… Но мы нашли время для Добра и Волшебства, экипировались и отправились на улицу Петербургскую раздавать новогоднее настроение всем прохожим!
    
                .video_block(
                data-40p-center-top='transform: translate(100%, 0); opacity: 0;'
                data-10p-center-top='transform: translate(0, 0%); opacity: 1;'
                )
                  .video_w
                  .video_btn.playVideo
                    
              .project_holder._bordo_projects
                .bordo_glass._left.mob_hidden(
                data-45p-center-top='left: 50%;'
                data--30p-center-top='left: -20%;'
                )
                .bordo_glass._right.mob_hidden(
                data-45p-center-top='left: 50%;'
                data--30p-center-top='left: 120%;'
                )
                .project_col._left
                  .project_col_head
                    .section_title(
                    data-350-center-top='transform: translate(0, 100%); opacity: 0;'
                    data-200-center-top='transform: translate(0, 0%); opacity: 1;'
                    )
                      span(data-title='Бордо - али-портфолио') Бордо - али-портфолио

                    .text_center
                      p Дизайн хороший ярко смотреть до конца радоваться, платить разумно

                  .project_block.animated
                    img(src='i/project_4.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ

                .project_col._right
                  .project_block.animated
                    img(src='i/project_2.jpg')
                    .project_info
                      .gl_table
                        .gl_table_cell
                          .project_name ХК “Ак Барс”
                          .project_text Наружная реклама и арт-объект.<br>“Игры Престолов” в игре!
                          p.text_center
                            a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ПРОЕКТ')
                              span СМОТРЕТЬ ПРОЕКТ

                  .more_projects
                    a.fz_13.btn_v1.btn_white.project_btn(href='#' data-text='СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ')
                      span СМОТРЕТЬ ЕЩЕ ПРОЕКТЫ
                      
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Отзывы') Отзывы
                
              .review_slider
                .reviewSlider
                  +loop_while(3)
                    .slide
                      .review_slide
                        .review_img
                          img(src='i/avatar_1.png')
                        .review_text Аванса не будет, но вы макеты присылайте!
                        .review_author Дмитрий
                      
                    .slide
                      .review_slide
                        .review_img
                          img(src='i/avatar_2.png')
                        .review_text Остался недоволен! Сделали все слишком быстро и слишком качественно! Ваши конкуренты работают намного медленнее…
                        .review_author Ждун
                      
                    .slide
                      .review_slide
                        .review_img
                          img(src='i/avatar_3.png')
                        .review_text Давайте не будем усукаблять ситуацию. Организуйте мне кастинг на должность повара и чтоб чики все были не ниже 180см!
                        .review_author Эрик Картман

                .review_controls
                  #review_prev.review_control._prev
                  #review_next.review_control._next
        
          #contact_section.logoTrigger.section._contacts
            .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=80)
              a.logo(href='index.html')
                .logo_slide
                  img._bodro.img_hover(src='i/bdb_a.png' width=144)
                  img._bodro(src='i/bdb_w.png' width=144)
            .section_inner
              .section_title(
              data-350-center-top='transform: translate(0, 100%); opacity: 0;'
              data-200-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Айда к нам!') Айда к нам!
                
              .contacts_form
                p.text_center(
                data-50p-center-top='transform: translate(0, 100%); opacity: 0; line-height: 2;'
                data-25p-center-top='transform: translate(0, 0%); opacity: 1; line-height: 1.2;'
                ) Ты энергичен/энергична, талантлив/талантлива и полон/полна смелых идей?!<br> Тогда заполняй бодрее форму, возможно, ты тот/та самый/самая кого мы ищем!
                
                form(action='#')
                  .form_row
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Как тебя зовут')
                  .form_row
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Твоя сфера деятельности')
                    
                  .form_row._half
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Твой номер телефона')
                    
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Твой e-mail')
                    
                  .form_row
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      textarea.f_input_v1.f_input(placeholder='Несколько слов о себе')
                    
                  //-.form_row._half
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      .f_input_v1.f_input.text_center
                        img(src='i/captcha_j.png')

                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      input.f_input_v1.f_input(placeholder='Введите текст с картинки')
                      
                  .form_row.text_center.captcha_row
                    .input_w.text_center
                      img(src='i/Captcha.png')
                      
                  .form_row.text_center
                    .input_w(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      button.btn_v1.contact_btn.btn_white(data-text='ОТПРАВИТЬ')
                        span ОТПРАВИТЬ
                        
                  .form_row
                    .agreement_holder(
                    data-150-bottom-top='transform: translate(0, 50px); opacity: 0;'
                    data--150-bottom-top='transform: translate(0, 0); opacity: 1;'
                    )
                      label.check_v1
                        input.inp_hidden(type='checkbox')
                        span.check_text Я даю согласие на обработку своих персональных данных.
                        
                      p В соответсвии со статьей 9 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных»
              
              .insta_container
                .insta_holder
                  .instaSlider.insta_list
                    +loop_while(15)
                      .slide: a.insta_link(href='#')
                .insta_controls
                  #insta_prev.insta_control._prev
                  #insta_next.insta_control._next
                  .insta_url @bodro.agency
                  .insta_tag #bdbgroup
                  
            .section_inner
              .section_title(
              data-450-center-top='transform: translate(0, 100%); opacity: 0;'
              data-300-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Друзья и партнеры') Друзья и партнеры

              .friend_list
                .friendSlider
                  +loop_while(2)
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_1.png')
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_2.png')
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_3.png')
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_4.png')
                    .slide: a.friend_link(href='#')
                      img(src='i/friend_5.png')
                      
                .friend_controls
                  #friend_prev.friend_control._prev
                  #friend_next.friend_control._next
                    
              .section_title(
              data-450-center-top='transform: translate(0, 100%); opacity: 0;'
              data-300-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Что-нибудь замутим?') Что-нибудь замутим?
                
              .text_center.subscribe_block
                a.btn_v1.contact_btn.btn_white.fz_13.callbackBtn(data-text='СВЯЗАТЬСЯ' href='#')
                  span СВЯЗАТЬСЯ
                
            .footer
              .section_inner.clearfix
                .footer_logo_holder.mob_hidden
                  a.footer_logo
                    img(src='i/bdb_w.png' width=124)
                  
                .copyright: span © Copyright «BDB Group», 2017
                .dev_block
                  span Сайт сделан:&nbsp;
                  span 
                    img(src='i/friend_5.png' width=58)
                    
    +popups()

    +scripts()
    
